.button {
    -webkit-appearance: none;
    @include vertical-rhythm(1.2rem, 0.5, 0.5);
    text-align: center;
    text-decoration: none;
    border: 1px solid $color-button--border;
    outline: none;
    padding: ($line-height-base * 0.5) ($line-height-base * 0.5);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    @include breakpoint('break-1') {
        padding: ($line-height-base * 0.5) ($line-height-base * 3);
        display: inline-block;
        margin: 0;
    }


    background-color: $color-button--background;
    color:  $color-button;
    @include border-radius(3px);
    transition: all 0.05s linear;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid $color-button-hover--border;
      background: $color-button-hover--background;
      color: $color-button-hover;
    }

    &--inverted {
      color:  $color-button--inverted;
      background-color: $color-button--inverted--background;
      border: 1px solid $color-button--inverted--border;

      &:hover,
      &:focus {
        color: $color-button--inverted-hover;
        background: $color-button--inverted-hover--background;
        border: 1px solid $color-button--inverted-hover--border;
      }
    }

    &--small {
        @extend .button;
        @include breakpoint('break-1') {
            padding: ($line-height-base * 0.25) ($line-height-base * 0.5);
            display: inline-block;
            margin: 0;
        }
    }
  }
