.discontinued-announcement{
  padding-top:1rem;padding-bottom:1rem;background:#fff4b3
}
.discontinued-announcement--content{
  text-align:center;
  color:#232732;
  font-family:Arial,Helvetica,sans-serif;
  font-size:1rem;
  line-height:1.875rem;
  margin-top:0;
  margin-bottom:0;
  line-height:1.3rem
}
