.header {
    background: $color-header--background;
    position: relative;
    @include breakpoint(break-2) {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__title {
      @include vertical-rhythm(2rem, 0, 0);
      font-weight: 600;
      padding-top: #{$line-height-base * 0.5};
      padding-bottom: #{$line-height-base * 0.5};
      padding-left: 0;
      padding-right: 0;
    }

    &__link {
        text-decoration: none;
        color: $color-header__link--color;
    }

    &__nav {
        text-align: right;
    }

}
