.section {
    padding-top: #{$line-height-base * 4};
    padding-bottom: #{$line-height-base * 4};
    background: $color-section--background;

    &--call-out {
        background: $color-section--call-out--background;
        color: $color-section--call-out--color;

        padding-top: #{$line-height-base * 4};
        padding-bottom: #{$line-height-base * 4};
    }

    &__intro {
        padding-bottom: #{1 * $line-height-base};
        @include breakpoint(break-2) {
            text-align: center;
        }
    }

    &__title {
        @include vertical-rhythm(1.5rem, 0.5, 0.5);
        @include breakpoint(break-2) {
            @include vertical-rhythm(2.75rem, 0.5, 0);
        }
    }

    &__subtitle {
        @include vertical-rhythm(1.5rem, 0.5, 0.5);
        @include breakpoint(break-2) {
            @include vertical-rhythm(2rem, 0.5, 2);
        }
    }

    &__description {
        @include vertical-rhythm(1.3rem, 1, 0);
    }

    &__illustration {
        width: 100%;
        max-width: 100%;
        height: auto;
        @include breakpoint(break-2) {
            padding-top: #{$line-height-base * 1};
            display: block;
            margin: 0 auto;
        }
    }

    &__illustration--normal-width {
        width: auto;
        max-width: 100%;
        height: auto;
        padding-bottom: #{$line-height-base * 1};
        @include breakpoint(break-2) {
            padding-top: #{$line-height-base * 1};
            padding-bottom: #{$line-height-base * 1};
            display: block;
            margin: 0 auto;
        }
    }
}
