$terminal-background: #202020;
$terminal-foreground: #EAEAEA;
$terminal-disabled: #7C7C7C;
$terminal-light-green: #8BC34B;
$terminal-light-blue: #65B5F6;
$terminal-light-yellow: #F9A825;
$terminal-red: #C72828;
$terminal-light-red: #F05350;

pre.terminal {
  font-family: 'Inconsolata', monospace;
  white-space: pre-wrap;
  text-align: justify;
  display: block;
  word-break: break-word;
  background: $terminal-background;
  color: $terminal-foreground;
  @include vertical-rhythm(1em, 0, 0);
  line-height: #{$line-height-base * 0.65};
  padding: $line-height-base;
  @include border-radius(#{$line-height-base * 0.25});
  .prompt {
    color: $terminal-light-green;
  }
  .cursor {
    color: $terminal-light-blue;
  }
  .directory {
    color: $terminal-light-blue;
  }
  .return {
    padding-left: 5rem;
  }
  .positive {
    color: $terminal-light-green;
  }
  .notice {
    color: $terminal-light-yellow;
  }
  .error {
    color: $terminal-light-red;
  }
  .information {
    color: $terminal-light-blue;
  }
  .bold {
    font-weight: bold;
  }
  .comment {
    color: $terminal-disabled;
  }
  .header {
    background: $terminal-light-blue;
    color: $terminal-background;
  }
  margin-bottom: $line-height-base;
}
