<form class="form" id="{{ .form_id }}" action="https://fluidkeys.us20.list-manage.com/subscribe/post?u=fd279ba68240c3d0639990f7e&amp;id=eb0e518b12" method="post">
  <div class="form__element">
    <label class="form__label form__label--inverse" for="email-address">Email address:</label>
    <input class="form__input" id="email-address" type="email" name="EMAIL" required placeholder="e.g. brian@kiffix.com">
  </div>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fd279ba68240c3d0639990f7e_69b83e3491" tabindex="-1" value=""></div>
  <div class="form__element">
    <input class="form__button" type="submit" value="Sign up for release announcements">
  </div>
</form>
