@import 'reset';

$background: #202020;
$foreground: #EAEAEA;
$light-green: #8BC34B;
$light-blue: #65B5F6;
$light-yellow: #F9A825;
$red: #C72828;
$light-red: #F05350;


$font-size:    16px;
$line-height-ratio: 1.5;
$line-height-base:  1rem * $line-height-ratio;
// base line-height = 16px * 1.5 = 24px

html {
  font-size:    $font-size;
  line-height:  $line-height-ratio;
  background: #EEEEEE;
}

* {
  margin-top:     0;
  margin-bottom:  0;
  padding-top:    0;
  padding-bottom: 0;
}

@mixin vertical-rhythm($font-size, $bottom-rows: 1, $top-rows: 0, $use-height: false, $border: 0rem) {
  $font-size: $font-size;
  $border: $border;
  $multiplier: ceil($font-size / $line-height-base);

  // check if height-based element
  // if so use height property for height, otherwise use line-height property
  @if $use-height {
    $leftover:      $line-height-base * $multiplier - $font-size;
    height:         $font-size;
    margin-top:     $line-height-base * $top-rows + $leftover / 2;
    margin-bottom:  $line-height-base * $bottom-rows + $leftover / 2;
  }
  @else { // text based element (uses line-height)
    font-size:      $font-size;
    line-height:    $line-height-base * $multiplier;
    margin-top:     $line-height-base * $top-rows;
    margin-bottom:  $line-height-base * $bottom-rows - $border;
  }
}


h1 {
  font-family: 'Roboto Condensed', sans-serif;
  @include vertical-rhythm(2.4rem, 1, 1);
}

body {
  margin: 0;
  padding: 0;
}

.notes {
  margin: 0 $line-height-base;
  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    @include vertical-rhythm(2rem, 0, 1);
    margin-bottom: 0;
  }
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    @include vertical-rhythm(1.6rem);
    margin-bottom: 0;
  }
  p + p {
    margin-top: $line-height-base;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
}

pre {
  font-family: 'Inconsolata', monospace;
  margin:     $line-height-base 0 ;
  padding:     $line-height-base ;
  background: $background;
  color: $foreground;
  .command {
    margin-bottom: $line-height-base;
  }
  .prompt {
    color: $light-green;
  }
  .cursor {
    color: $light-blue;
  }
  .directory {
    color: $light-blue;
  }
  .return {
    padding-left: 5rem;
  }
  .positive {
    color: $light-green;
  }
  .notice {
    color: $light-yellow;
  }
  .error {
    color: $light-red;
  }
  .information {
    color: $light-blue;
  }
  .bold {
    font-weight: bold;
  }
}

pre {
  font-family: 'Inconsolata', monospace;
}
