<% wrap_layout :singlepage do %>
    <p class="date"><%= current_article.date.strftime('%d %B %Y') %></p>
    <h1><%= current_page.title %></h1>
    <%= yield %>
    <hr />
    <p><a href="/blog">Back to all posts</a></p>
<% end %>