<% wrap_layout 'layout' do %>
    <section class="blog">
      <div class="container">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </section>
    <%= partial "analytics" %>
    <% content_for :footer do %>
      <%= link_to image_tag("rss-icon.svg", class: "rss-icon") + "RSS feed", "/blog/feed.xml" %>
    <% end %>
<% end %>
