// Descriptive colors
$color-white: #ffffff;
$color-grey: #8c8c8c;
$color-grey--light: #efefef;
$color-grey--dark: #232732;
$color-pink: #d33d5c;
$color-green: #3DA450;
$color-green--light: #00BB3D;

// Functional colors
$color-html--background: $color-white;

$color-header--background: $color-grey--dark;
$color-header__link--color: $color-white;

$color-hero--background: $color-grey--dark;
$color-hero--color: $color-white;

$color-menu__border-bottom: $color-pink;
$color-menu__link--color: $color-white;
$color-menu__link--hover--background: $color-pink;
$color-menu__pill--color: $color-white;
$color-menu__pill--background: $color-pink;
$color-menu__pill--hover--background: $color-green;

$color-section--background: $color-white;

$color-placeholder-image--background: $color-grey--light;

$color-form__button--color: $color-white;
$color-form__button--primary: $color-pink;
$color-form__button--hover: $color-green;
$color-form__button--box-shadow: $color-grey--dark;
$color-form__input--outline: $color-grey--dark;

$color-button: $color-pink;
$color-button--border: $color-pink;
$color-button--background: $color-white;
$color-button-hover: $color-white;
$color-button-hover--background: $color-pink;
$color-button-hover--border: $color-pink;