// Descriptive colors
$color-white: #ffffff;
$color-grey: #8c8c8c;
$color-grey--light: #efefef;
$color-grey--dark: #232732;
$color-pink: #d33d5c;
$color-green: #3DA450;
$color-green--light: #00BB3D;

// Functional colors
$color-html--background: $color-white;

$color-hero--background: $color-grey--dark;
$color-hero--color: $color-white;

$color-section--background: $color-white;

$color-placeholder-image--background: $color-grey--light;
