// Descriptive colors
$color-white: #ffffff;
$color-grey: #8c8c8c;
$color-grey--light: #f5f5f7;
$color-grey--mid: #cccccc;
$color-grey--dark: #232732;
$color-pink: #d33d5c;
$color-green: #3DA450;
$color-green--light: #00BB3D;
$color-yellow--dark: rgb(190, 174, 78);
$color-yellow--light: #FFF4B3;
$color-yellow--extra-light: rgb(255, 250, 219);
$color-blue--dark: rgba(0,107,212,0.2);
$color-blue--extra-light: rgba(0,107,212,0.1);

// Functional colors
$color-html--background: $color-white;

$color-header--background: $color-grey--dark;
$color-header__link--color: $color-white;

$color-hero--background: $color-grey--dark;
$color-hero--color: $color-white;

$color-menu__border-bottom: $color-pink;
$color-menu__link--color: $color-white;
$color-menu__link--hover--background: $color-pink;
$color-menu__pill--color: $color-white;
$color-menu__pill--background: $color-pink;
$color-menu__pill--hover--background: $color-green;

$color-section--background: $color-white;
$color-section--call-out--background: $color-grey--dark;
$color-section--call-out--color: $color-white;

$color-form__button--color: $color-white;
$color-form__button--primary: $color-pink;
$color-form__button--hover: $color-green;
$color-form__button--box-shadow: $color-grey--dark;
$color-form__input--outline: $color-grey--dark;

$color-form__label--inverse: $color-white;

$color-button: $color-pink;
$color-button--border: $color-pink;
$color-button--background: $color-white;
$color-button-hover: $color-white;
$color-button-hover--background: $color-pink;
$color-button-hover--border: $color-pink;

$color-button--inverted: $color-white;
$color-button--inverted--background: $color-pink;
$color-button--inverted--border: $color-pink;
$color-button--inverted-hover: $color-white;
$color-button--inverted-hover--background: $color-green;
$color-button--inverted-hover--border: $color-green;

$color-footer--background: $color-grey--dark;
$color-footer__link: $color-white;

$color-preview-announcement: $color-grey--dark;
$color-preview-announcement--background: $color-yellow--light;

$color-card--background: $color-grey--light;
$color-card--complete: $color-white;
$color-card--complete--background: $color-green;
$color-card--major--border: $color-pink;

$color-blockquote--border: $color-pink;

$color-a: $color-pink;

$color-nav__link: $color-white;
$color-nav__link-hover: $color-pink;

$color-pre--background: $color-grey--light;
$color-pre: $color-grey--dark;
$color-pre--border: $color-grey--mid;

$color-highlight-band--background: $color-pink;
$color-highlight-band__subtitle-color: $color-white;

$color-markdown-callout--warning--background: $color-yellow--extra-light;
$color-markdown-callout--warning--border: $color-yellow--dark;
$color-markdown-callout--info--background: $color-blue--extra-light;
$color-markdown-callout--info--border: $color-blue--dark;
