---
layout: landing-page
---

<% content_for :head do %>
<meta name="robots" content="noindex">
<% end %>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h2 class="section__title">Automate PGP for your team</h2>
            <p class="section__description">
                Fluidkeys makes it simple to use PGP in a team. Set up the team then let Fluidkeys
                automatically discover keys, fetch updates and configure third party software.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Bootstrap your team list from Github</h3>
            <p class="section__description">
                Set up your team in no time, importing existing usernames, email addresses and
                public keys from people in your Github organisation. Sign the team list file and
                you're ready to go.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Quickly onboard new team members</h3>
            <p class="section__description">
                Creating a PGP for the first time is simple. With secure defaults and no difficult
                questions, new team members can get set up in less than 5 minutes.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Cryptographically verify new team members</h3>
            <p class="section__description">
                Only team admins can update the team list or configuration, using their own key to
                sign the list. Fluidkeys verifies the team list client-side, rejecting unauthorized
                changes.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Rotate encryption keys each month</h3>
            <p class="section__description">
                For forward secrecy, Fluidkeys creates a new encryption subkey each month, pushing
                the updated public key to the rest of the team
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Publish to a secure, private keyserver</h3>
            <p class="section__description">
                Choose whether to make team keys and email addresses private or open. Fluidkeys'
                modern keyserver verifies keys before allowing them, preventing spoofing attacks.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Discover and sync public keys securely</h3>
            <p class="section__description">
                Ensure team members don't download spoofed keys. Fluidkeys automatically fetches
                and verifies keys based on full fingerprints in the signed team list.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Publish keys using Web Key Directory</h3>
            <p class="section__description">
                Allow anyone on the internet to find your team's keys using only their email
                address. Fluidkeys makes keys discoverable through the open Web Key Directory
                protocol.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3 section__centered">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Integrate with third-party apps</h3>
            <p class="section__description">
                Use your favourite GnuPG-based tools like pass, git-crypt, Mailvelope and Enigmail.
                Fluidkeys can configure those tools to update automatically when the team list
                changes.
            </p>
        </div>
    </div>
</section>
<%= partial "track_events" %>
    