<% content_for :head do %>
<meta name="robots" content="noindex">
<% end %>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h2 class="section__title">Automate PGP for your team</h2>
            <p class="section__description">
                Fluidkeys makes it simple to use PGP in a team. Set up the team then let Fluidkeys
                automatically discover keys, fetch updates and configure third party software.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Bootstrap your team from Github</h3>
            <p class="section__description">
                Set up your team in no time, importing existing usernames, email addresses and
                public keys from people in your Github organisation. Sign the team roster and
                you're ready to go.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Quickly onboard new team members</h3>
            <p class="section__description">
                Creating a PGP key for the first time is simple. With secure defaults and no difficult
                questions, new team members can start encrypting in under 5 minutes.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Cryptographically verify new team members</h3>
            <p class="section__description">
                Only team admins can update the team roster, using their own key to
                sign the list.
            </p>
            <p class="section__description">
                Fluidkeys verifies the team roster client-side, rejecting unauthorized
                changes.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Rotate encryption keys each month</h3>
            <p class="section__description">
                For forward secrecy, Fluidkeys creates a new encryption subkey each month, pushing
                the updated public key to the rest of the team.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Publish to our secure, private keyserver</h3>
            <p class="section__description">
                Choose whether to make team keys and email addresses private or open. Fluidkeys'
                modern keyserver verifies email addresses before accepting keys, preventing spoofing attacks.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Find keys by email address safely</h3>
            <p class="section__description">

            </p>

            <p class="section__description">
            The team roster is a list of email addresses linked to keys and cryptographically signed by the admin.
            Fluidkeys makes it easy to create and maintain the roster.
            </p>

            <p class="section__description">
            Everyone has a local copy of the team roster. Fluidkeys uses it to find a verified key for a given email address.
            </p>

        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Publish keys using Web Key Directory</h3>
            <p class="section__description">
                Allow anyone on the internet to find your team's keys using only their email
                address. Fluidkeys makes keys discoverable through the open Web Key Directory
                protocol.
            </p>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h3 class="section__subtitle">Integrate with third-party apps</h3>
            <p class="section__description">
                Use your favourite GnuPG-based tools like pass, git-crypt, Mailvelope and Enigmail.
                Fluidkeys can configure those tools to update automatically when the team list
                changes.
            </p>
        </div>
    </div>
</section>
<%= partial "track_events" %>

