<form id="" action="#" method="post" class="form">
    <div class="form__element">
        <label for="email-address" class="form__label">Enter your email address to get started:</label>
        <input id="email-address" type="email" name="entry.2082822863"
        required placeholder="e.g. sandra@flextech.com" class="form__input">
    </div>
    <div class="form__element">
        <input type="submit" value="Try Fluidkeys free for 30 days" class="form__button">
    </div>
</form>