---
layout: singlepage
---

<% content_for :head do %>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    var urlParams = new URLSearchParams(window.location.search);
    emailAddress = urlParams.get('email')

    document.getElementById('email-address').value = emailAddress;
});
</script>
<% end %>

<h1>
    We're not quite ready...<br />
    Sign up to hear when we release
</h1>

<p>
    Thanks for wanting to try Fluidkeys out. We're working hard to get our first release out. To
    hear once we're ready, sign up to our release notes:
</p>

<%= partial "signup_form", locals: { form_id: "v1-preview-sign-up" } %>

<%= partial "track_events" %>
