---
layout: landing-page
---

<header class="landing-hero">
    <div class="landing-hero__inner container--max-width-break-3">
        <div class="landing-hero__content">
            <h1 class="landing-hero__title">Automatic, user friendly PGP security for engineering teams</h1>
            <p class="landing-hero__description">
                Fluidkeys is a security toolkit that creates strong, automatically rotating PGP keys
                for you and your team-mates.
            </p>
        </div>
        <div class="landing-hero__illustration">
        </div>
    </section>
</header>

<section class="section">
    <div class="container--max-width-break-3">
        <div class="section__intro">
            <h2 class="section__title">A secure way to work together</h2>
            <p class="section__description">
                Fluidkeys helps engineering teams adopt stronger software development practices
            </p>
        </div>
    </div>
    <div class="feature container--max-width-break-3">
        <div class="feature__illustration">
        </div>
        <div class="feature__content">
            <h3 class="feature__title">Make strong, synchronised PGP keys</h3>
            <p class="feature__description">
                Fluidkeys creates keys with strong ciphers, short expiries and clear
                certification policies on all the teams’ keys. New encryption keys are generated
                every month for forward secrecy Fluidkeys ensures the teams’ keys are simply
                kept in sync. <a href="#">Learn about keys and syncronisation.</a>
            </p>
        </div>
    </div>
    <div class="feature container--max-width-break-3">
        <div class="feature__illustration">
        </div>
        <div class="feature__content">
            <h3 class="feature__title">Safeguard your source code</h3>
            <p class="feature__description">
                Fluidkeys automatically configures git to sign commits while keeping your Github
                account in sync with your signing key.<br />
                Verify that all your code has come from people within your team. Don’t let
                anything get merged that shouldn’t be there! <a href="#">Learn about PGP and
                git.</a>
            </p>
        </div>
    </div>
    <div class="feature container--max-width-break-3">
        <div class="feature__illustration">
        </div>
        <div class="feature__content">
        <h3 class="feature__title">Protect your sensitive data</h3>
            <p class="feature__description">
                Send passwords, keys, tokens and personal data to team-mates using end-to-end
                encryption. <a href="#">Learn about sending secrets.</a>
            </p>
        </div>
    </div>
</section>

<%= partial "track_events" %>
    