---
layout: layout
---
<% content_for :body_id do %>pricing-page<% end%>

<% content_for :head do %>
<meta name="robots" content="noindex">
<% end %>

<div class="full-width">
    <section class="variable-width-plans-container">
        <div class="top">
            <h1>Fluidkeys for teams</h1>
            <p class="lead">Get started using PGP in minutes</p>
        </div>

        <ol class="plans">
            <li class="plan">
                <h2 class="name">Starter</h2>
                <p class="team-size">1-10 developers</p>
                <p class="price">€69</p>
                <p class="timeframe">per month</p>
                <p class="label">You’re a small, busy team who want PGP to just work.</p>
                <p class="button"><a href="#">Try for free</a></p>
            </li>
            <li class="plan">
                <h2 class="name">Professional</h2>
                <p class="team-size">11-30 developers</p>
                <p class="price">€299</p>
                <p class="timeframe">per month</p>
                <p class="label">You’re a professional team with important data and relationships.</p>
                <p class="button"><a href="#">Try for free</a></p>
            </li>
            <li class="plan">
                <h2 class="name">Enterprise</h2>
                <p class="team-size">30+ developers</p>
                <p class="price">€1,199</p>
                <p class="timeframe">per month</p>
                <p class="label">You’re a big business who automates and audits where possible.</p>
                <p class="button"><a href="#">Try for free</a></p>
            </li>
        </ol>

        <div class="features">
            <ul>
                <li>Zero learning curve. Automatic onboarding for new starters.</li>
                <li>Keys configured, rotated  and maintained against best-practice</li>
                <li>Keys published for easy discovery by people outside the team</li>
                <li>Shared keys for support and disclosure inboxes</li>
                <li>Audit PGP usage across the enterprise</li>
                <li>Automatically make encrypted backups of teams keys</li>
            </ul>
            <p><em>All features are available to teams of any size.</em></p>
        </div>

        <div class="open-source-offer">
            <h2>Discounted plans available for <br />charities and open source projects<h2>
            <p class="button"><a href="#">Get started</a></p>
        </div>

    </section>
</div>
