.footer {
    background: $color-footer--background;
    border-top: 1px solid $color-footer--background;
    padding-top: $line-height-base;
    padding-bottom: $line-height-base;

    p {
        margin: 0;
    }

    &__link {
        color: $color-footer__link;
        margin-right: $line-height-base;
    }

    &__rss-icon {
        height: #{$line-height-base * 0.5};
        padding-right: #{$line-height-base * 0.25};
    }
}
