.menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    border-bottom: 1px solid $color-menu--border-bottom;
    margin-bottom: 0;

    @include breakpoint(break-1) {
        border: none;
        justify-content: flex-end;
    }

    &__item {
        padding: 0;
        margin: 0;
    }

    &__link {
        display: block;
        padding: 0 #{$line-height-base * 0.5} $line-height-base 0;
        @include breakpoint(break-1) {
            padding: #{$line-height-base * 1} $line-height-base;
        }
        color: $color-menu__link--color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            @include breakpoint(break-1) {
            text-decoration: none;
            background: $color-menu__link--hover--background;
            }
        }

        &--pill {
            @include border-radius(#{$line-height-base * 0.25});
            padding-left: #{$line-height-base * 0.25};
            padding-right: #{$line-height-base * 0.25};
            transition: all 0.15s linear;
            display: block;
            @include breakpoint(break-1) {
                @include border-radius(#{$line-height-base * 0.5});
                padding-top: #{$line-height-base * 0.25};
                padding-bottom: #{$line-height-base * 0.25};
                padding-left: #{$line-height-base * 0.5};
                padding-right: #{$line-height-base * 0.5};
                margin-top: #{$line-height-base * 0.75};
                margin-bottom: #{$line-height-base * 0.75};
                margin-left: #{$line-height-base * 0.5};
                margin-right: #{$line-height-base * 0.5};
            }
            color: $color-menu__pill--color;
            text-decoration: none;
            background: $color-menu__pill--background;

            &:hover {
                text-decoration: none;
                background: $color-menu__pill--hover--background;
            }

        }

    }

}
