.section {
    padding-top: #{$line-height-base * 4};
    padding-bottom: #{$line-height-base * 4};
    background: $color-section--background;

    &__intro {
        padding-bottom: #{1 * $line-height-base};
        @include breakpoint(break-2) {
            text-align: center;
        }
    }

    &__title {
        @include vertical-rhythm(2.75rem, 0.5, 0);
    }

    &__subtitle {
        @include vertical-rhythm(2rem, 0.5, 0);
    }

    &__description {
        @include vertical-rhythm(1.3rem, 1, 0);
        width: 100%;
        @include breakpoint(break-2) {
            display: inline-block;
            width: 70%;
        }
    }

    &--plugs {
        background-image: url(/images/plugs-left.svg);
        background-position: left top;
        background-repeat: no-repeat;

        @include breakpoint(break-3) {
            background-image: url(/images/plugs-left.svg), url(/images/plugs-right.svg);
            background-position: left top, right top;
            background-repeat: no-repeat, no-repeat;
        }
    }
    
}
